<h1>Projectmailer#project_created</h1>

<p>
  <%= @greeting %>, find me in app/views/projectmailer_mailer/project_created.html.erb
</p>
<h1>Welcome to Ticketing System, <%= User.last.email %></h1>
  <p>
    new project.<br>
  </p>
<p>Thanks for joining and have a great day!</p>